.makeUp {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: whitesmoke;
    width: 70%;
    margin-left: 17.5%;
    
}


b {
    font-size: 20px;
}